<div class="row">
    <div class="col-md-12">
	    <div class="input-group mb-2 mr-sm-2 pesquisa-input">
		    <div class="input-group-prepend">
		      	<div class="input-group-text"><img src="assets/images/magnifying-glass-2x.png" class="iconic-sprite" aria-hidden="true" /></div>
		    </div>
		    <input name="nomeUsuario" type="text" class="form-control" id="inlineFormInputGroupUsuario" placeholder="Nome de usuário" ngModel (keyup.enter)="pesquisar($event.target.value)">
	  	</div>
  </div>

</div>
  
