<div class="row">
	<div class="col-md-12">
	    <div class="input-group mb-2 mr-sm-2 pesquisa-input">
		    <div class="input-group-prepend">
		      	<div class="input-group-text">
		      		<img src="assets/images/magnifying-glass-2x.png" 
			      		class="iconic-sprite" 
			      		aria-hidden="true" />
		      	</div>
		    </div>
		    <input id="inlineFormInputGroupMusica" 
		    	class="form-control" 
		    	type="text" 
		    	name="nomeMusica" 
		    	placeholder="Música" 
		    	(input)="buscaMusica($event.target.value)" 
		    	ngModel />
	  	</div>
	</div>
</div>