<h2 class="text-center">Playlist</h2>

<app-pesquisa-playlist (onUpdateSearch)="rebounceEvent($event)"></app-pesquisa-playlist>
<div class="row">
    <div class="col-md-12">
      
        <table class="table table-bordered table-striped">
            <tr>
                <th>Música</th>
                <th>Artista</th>
                <th></th>
            </tr>

            <tr *ngFor="let musica of musicasPlaylist">

                <td>{{ musica.nome }}</td>
                <td>{{ musica.artista.nome }}</td>
                <td>
                    <input type="radio" 
                        name="musicaRadio" 
                        value="musica.id" 
                        (change)="enqueueDeletion(musica)" />
                </td>
            </tr>
        </table>
    </div>
</div>