<h2 class="text-center">Músicas</h2>

<app-pesquisa-musica (onUpdateSearch)="updateSongs($event)"></app-pesquisa-musica>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Música</th>
                <th>Artista</th>
                <th>
                    <input type="checkbox" name="musicaCheckbox" (change)="selecionarMusica()" />
                </th>
            </tr>

            <tr *ngFor="let musica of listaMusicas">
                <td>{{musica.nome}}</td>
                <td>{{musica.artista.nome }}</td>
                <td>
                    <input type="checkbox" name="musicaCheckbox" (change)="selecionarMusica(musica)" [checked]="addedSongs.indexOf(musica) >= 0" [disabled]="addedSongs.indexOf(musica) >= 0">
                </td>
            </tr>
        </table>
    </div>
</div>