<div class="container home-body">
  <p>
    My Music
  </p>

  <div class="row">
    <div class="col-md-5" style="border: solid 2px black">
      <app-musicas [listaMusicas]="musicas" (adicionado)="atualizarPlaylist($event)"></app-musicas>
    </div>

    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12" style="margin-top: 200px">
          <button style="width: 90px" (click)="criaPlaylist()" >Adicionar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
          <button style="width: 90px" (click)="removerMusicas()" >Remover</button>
        </div>
      </div>
    </div>

    <div class="col-md-5" style="border: solid 2px black">
      <app-playlist [musicasPlaylist]="musicasPlaylist" (removido)="marcaMusicaRemocao($event)"></app-playlist>
    </div>
  </div>

</div>