<div class="container home-body">
  <h1 class="text-center">My Music App</h1>

  <div class="row">
    <div class="col-md-5 component-container">
      <app-musicas [listaMusicas]="musicas" [addedSongs]="musicasPlaylist" (adicionado)="atualizarPlaylist($event)"></app-musicas>
    </div>

    <div class="col-md-2 text-center">
      <div class="row">
        <div class="col-md-12" style="margin-top: 200px">
          <button class="btn btn-success action-btn" (click)="addSongToPlaylist()" >Adicionar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top: 20px">
          <button class="btn btn-danger action-btn" (click)="removerMusicas()" >Remover</button>
        </div>
      </div>
    </div>

    <div class="col-md-5 component-container">
      <app-playlist [musicasPlaylist]="musicasPlaylist" (enqueued)="updateEnqueuedDeletion($event)" (searchUpdated)="loadPlaylist($event)"></app-playlist>
    </div>
  </div>

</div>